In [11]:
import pandas as pd
import time

In [3]:
sms = pd.read_csv('tb_sms_201202.txt',sep='\t',header=None)
sms.head()

          0       1             2  3  4         5
0  20120201  559008  y25562542202  1  2  00:09:20
1  20120201  559008  y25562542202  1  2  00:26:33
2  20120201  559008  y25562542202  1  2  00:24:30
3  20120201  875512       1196004  1  1  00:02:35
4  20120201  559008  y25562542202  1  2  00:13:35

In [7]:
sms.columns=['date','node1','node2','sender_label','receive_label','time']
sms.head()

,date,sender_number,receive_number,sender_label,receive_label,time
0,20120201,559008,y25562542202,1,2,00:09:20
1,20120201,559008,y25562542202,1,2,00:26:33
2,20120201,559008,y25562542202,1,2,00:24:30
3,20120201,875512,1196004,1,1,00:02:35
4,20120201,559008,y25562542202,1,2,00:13:35

In [9]:
sms1 = sms[(sms.sender_label==1)&(sms.receive_label==1)]

In [10]:
print 'sms',sms.shape
print 'sms1',sms1.shape

sms (20947956, 6)
sms1 (2661022, 6)

都是1的信息量有2661022，占全量的1/10

In [18]:
sms1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2661022 entries, 3 to 20649578
Data columns (total 6 columns):
date              int64
sender_number     int64
receive_number    object
sender_label      int64
receive_label     int64
time              object
dtypes: int64(4), object(2)
memory usage: 142.1+ MB

In [28]:
# 时间转为时间戳
a = sms1.date.astype('str')+' '+sms1.time.astype('str')
sms1['timestamp'] = a.map(lambda e:time.mktime(time.strptime(e,'%Y%m%d %H:%M:%S')))
sms1.head()

/root/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,date,sender_number,receive_number,sender_label,receive_label,time,timestamp
3,20120201,875512,1196004,1,1,00:02:35,1.328026e+09
6,20120201,849684,1168666,1,1,00:33:40,1.328028e+09
16,20120201,847122,1186533,1,1,05:40:23,1.328046e+09
28,20120201,1074048,376628,1,1,00:38:03,1.328028e+09
29,20120201,1074048,376628,1,1,01:09:00,1.328030e+09

In [30]:
# 导出数据
sms1[['node1','node2','timestamp']].to_csv('sms2.csv',index=None)