In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
import datetime

In [4]:
data = pd.read_csv('./data/High-School_data.txt',header=None,sep=' ')
data.columns = ['n1', 'n2', 'timestamp']
data['date'] = data.timestamp.apply(lambda x :datetime.datetime.utcfromtimestamp(x))
data.head()

    n1   n2   timestamp                date
0  454  640  1385982020 2013-12-02 11:00:20
1    1  939  1385982020 2013-12-02 11:00:20
2  185  258  1385982020 2013-12-02 11:00:20
3   55  170  1385982020 2013-12-02 11:00:20
4    9  453  1385982020 2013-12-02 11:00:20

In [14]:
data1 = data[data.date.dt.date == datetime.date(2013, 12, 6)]
data1[['n1', 'n2', 'timestamp']].to_csv('./data/20131206.txt',header=None,sep=' ',index=None)

In [8]:
data.date.dt.date.unique()

array([datetime.date(2013, 12, 2), datetime.date(2013, 12, 3),
       datetime.date(2013, 12, 4), datetime.date(2013, 12, 5),
       datetime.date(2013, 12, 6)], dtype=object)